<!doctype html>
<html lang="en">
  <head>
    <title>My own vuex-observable app</title>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="application-name" content="My own vuex-observable app"/>
    <meta name="theme-color" content="#00BCD4"/>
    <meta name="msapplication-TileColor" content="#00BCD4"/>
    <meta name="msapplication-square70x70logo" content="/assets/favicons/mstile-70x70.png"/>
    <meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png"/>
    <meta name="msapplication-square150x150logo" content="/assets/favicons/mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="/assets/favicons/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="/assets/favicons/mstile-310x310.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-128x128.png" sizes="128x128"/>
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-196x196.png" sizes="196x196"/>
    <link rel="manifest" href="/manifest.json"/>
    <style>html, body {background: #FFFFFF;}</style>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.indexCss %>">
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="root">
      <div class="loading">Welcome to <strong>My own vuex-observable app Application</strong>!<br/>If you are not offline, please wait a few seconds...</div>
    </div>
    <script>if('serviceWorker' in navigator){navigator.serviceWorker.register('/sw.js');}document.addEventListener("DOMContentLoaded",function(){});</script>
    <script src="/js/vendor.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
