* {
  font-family: 'Roboto';
}

html,
body {
  background: white !important;
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 0;

  &.light {
    background: white !important;
  }

  &.dark {
    background: black !important;
  }
}

.h,
.hidden:not(.ui.hidden) {
  display: none !important;
}

.vh {
  visibility: hidden;
}

.cl {
  clear: both;
}

.cf {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.nb {
  border: 0;
}

.np {
  padding: 0;
}

.nm {
  margin: 0;
}

.ofh {
  overflow: hidden;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  outline: none;
}

a {
  cursor: pointer;
}

a,
a:hover,
a:active,
a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5em;
  padding: 0;

  font-family: 'Roboto';

  a,
  a:hover,
  a:active,
  a:visited {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
}

pre {
  margin: 0;
}

// h1 {
//   color: $cobalt;
//   font-size: 3.5em;
//   font-weight: normal;
//   margin: .2em 0 0;
//   text-transform: uppercase;
// }
//
// h2 {
//   font-size: 2.2em;
//   font-weight: normal;
// }
//
// h3 {
//   font-size: 1.6em;
//   font-weight: normal;
// }
//
// h4 {
//   font-size: 1.2em;
//   font-weight: normal;
// }
//
// h5 {
//   font-size: 1.3em;
//   font-weight: normal;
// }

.form-control {
  color: inherit;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.nowrap {
  white-space: nowrap;
}
