@white: #fff;
@black: #000;

@red-pp: #dc232e;
@blue-pp: #2185d0;

@blue: #2185d0;
@blue-dark: #003366;
@cobalt: #007d93;
@red: #e60000;
@red-dark: #9f0d00;
@red-light: #fcc;
@grey-darker: #333;
@grey-dark: #444;
@grey-middlest: #777;
@grey-middle: #888;
@grey: #999;
@grey-light: #aaa;
@grey-lightest: #ccc;
@grey-absolute: #eaeaea;
@blue-lightest: #82b2ba;
@blue-absolute: #acd7de;
@violet: #992db4;
@emerald: #00897b;
@orange: #ff7300;

@semantic-grey-light: #d4d4d5;

/*
//teal palette colors
@t50: #e0f2f1;
@t100: #b2dfdb;
@t200: #80cbc4;
@t300: #4db6ac;
@t400: #26a69a;
@t500: #009688;
@t600: #00897b;
@t700: #00796b;
@t800: #00695c;
@t900: #004d40;

//@number0, @number1, @number2, @number3, @number4, @number5, @number6, @number7, @number8, @number9,
@letter-a: #0ff;// aqua // @blue
@letter-b: #8a2be2;// blueviolet
@letter-c: #ff7f50;// coral
@letter-d: #696969;// dimgray
@letter-e: #7fffd4;// aquamarine
@letter-f: #b22222;// firebrick
@letter-g: #ffd700;// gold
@letter-h: #ff69b4;// hotpink
@letter-i: #cd5c5c;// indianred
@letter-j: #4b0082;// indigo
@letter-k: #f0e68c;// khaki
@letter-l: #e6e6fa;// lavender
@letter-m: #800000;// maroon
@letter-n: #000080;// navy
@letter-o: #ffa500;// orange
@letter-p: #ffc0cb;// pink
@letter-q: #800080;// purple
@letter-r: #bc8f8f;// rosybrown
@letter-s: #c0c0c0;// silver
@letter-t: #008080;// teal
@letter-u: #ff6347;// tomato
@letter-v: #ee82ee;// violet
@letter-w: #f5deb3;// wheat
@letter-x: #a0522d;// sienna
@letter-y: #9acd32;// yellowgreen
@letter-z: #4682b4;// steelblue

@mixin set-color(@color) {
  background: @color; border-color: @color;
}

.letter-0,
.letter-1,
.letter-2,
.letter-3,
.letter-4,
.letter-5,
.letter-6,
.letter-7,
.letter-8,
.letter-9,
.letter-a { @include set-color(@letter-a); }

.letter-b { @include set-color(@letter-b); }

.letter-c { @include set-color(@letter-c); }

.letter-d { @include set-color(@letter-d); }

.letter-e { @include set-color(@letter-e); }

.letter-f { @include set-color(@letter-f); }

.letter-g { @include set-color(@letter-g); }

.letter-h { @include set-color(@letter-h); }

.letter-i { @include set-color(@letter-i); }

.letter-j { @include set-color(@letter-j); }

.letter-k { @include set-color(@letter-k); }

.letter-l { @include set-color(@letter-l); }

.letter-m { @include set-color(@letter-m); }

.letter-n { @include set-color(@letter-n); }

.letter-o { @include set-color(@letter-o); }

.letter-p { @include set-color(@letter-p); }

.letter-q { @include set-color(@letter-q); }

.letter-r { @include set-color(@letter-r); }

.letter-s { @include set-color(@letter-s); }

.letter-t { @include set-color(@letter-t); }

.letter-u { @include set-color(@letter-u); }

.letter-v { @include set-color(@letter-v); }

.letter-w { @include set-color(@letter-w); }

.letter-x { @include set-color(@letter-x); }

.letter-y { @include set-color(@letter-y); }

.letter-z { @include set-color(@letter-z); }
*/
