.blink-me {
  animation: blinker 1s linear;//or 1 or infinite
}

@keyframes blinker {
  // 50% {
  //   //opacity: 0.0;
  //   filter: invert(100%);
  // }

  from {
    opacity: 0.0;
  }

  to {
    opacity: 1.0;
  }
}

.spin-me {
  animation: spinner .4s linear infinite;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

.no-style-link {
  text-decoration: none !important;
  color: inherit !important;
}

.no-style-button {
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

button label {
  cursor: pointer !important;
}

.app-loading, .app-blocking {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;

  &.active {
    visibility: visible;
    z-index: 9998;
  }
}

.app-blocking {
  bottom: 0;
  // background: white;
  // opacity: .5;

  &.active {
    z-index: 9999;
  }
}

.silenting {
  tr {
    border-top: 0 !important;
    height: 32px !important;
  }

  td {
    text-align: center !important;
    height: auto !important;
  }
}

.no-match {
  left: 50%;
  margin-left: -25%;
  padding-top: 2em;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 50%;
}

.veiled {
  color: lightgrey;
}

.gridBody {
  clear: both;
}

.body {
  width: 90%;
  margin: 5.3em 5% 1em;


  > .ui.sidebar {
    z-index: 8;
    top: 60px;
  }

  > .ui.dimmer {
    z-index: 7;
  }
}

.logged-menu .dropdown.icon{
  display: none;  
}

.ui.secondary.menu.topbar {
  background: black;
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;

  .item,
  .item.active,
  .item:hover,
  .ui.form .field > label {
    color: white;
  }

  .ui.form .fields {
    margin-bottom: 0;
  }
}

.ui.secondary.menu {
  margin-left: auto;
  margin-right: auto;
}

.ui.buttons .or {
  display: inline;
}

.ui.button i.icon {
  margin: 0 !important;
}

.ui.button.filter-option {
  margin: 0 .2em;
  padding: 0 !important;
  background: transparent;
  color: grey;

  &.fo-disabled {
    text-decoration: line-through;
    opacity: .5;
  }
}

div[type="main"] {
  color: @blue !important;
}

.flash-message {
  position: fixed;
  bottom: -10em;
  // top: -10em;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  z-index: 9997;
  opacity: 1;
  animation: flashed 5s ease-in-out;
}

@keyframes flashed {
  0% {
    bottom: -10em;
    // top: -10em;
  }
  10% {
    bottom: 1em;
    // top: 5em;
  }
  90% {
    bottom: 1em;
    // top: 5em;
  }
  100% {
    bottom: -10em;
    // top: -10em;
  }
}

.login {
  margin: 20% auto 0;
  text-align: center;
  width: 320px;
  box-shadow: 0 1px 3px 0 @semantic-grey-light, 0 0 0 1px @semantic-grey-light;

  form {
    padding: 1em;
  }

  h1 {
    color: @blue;
  }

  .ui.input {
    margin-bottom: .5em;
  }
}

.ui.mini.input {
  width: 7em;
  font-size: 1em;

  input {
    text-align: right;
    padding: .5em;
  }
}

.vdp-datepicker > div > input {
  padding: .5em;
  margin: 0;
  max-width: 100%;
  flex: 1 0 auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  box-shadow: none;

  &.error {
    border-color: #E0B4B4;
    color: #9F3A38;  
  }
}

select.ui.dropdown {
  padding: .5em;
  margin: 0;
  height: 35px;
  max-width: 100%;
  flex: 1 0 auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  box-shadow: none;

  &.error {
    border-color: #E0B4B4;
    color: #9F3A38;  
  }
}