@font-face {
  font-family: 'Icons';
  src: url('/assets/fonts/icons.eot');
  src: url('/assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/icons.woff2') format('woff2'),
       url('/assets/fonts/icons.woff') format('woff'),
       url('/assets/fonts/icons.ttf') format('truetype'),
       url('/assets/fonts/icons.svg#icons') format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  // src: url('/assets/fonts/fontName.eot');
  src: //url('/assets/fonts/fontName.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  // src: url('/assets/fonts/fontName.eot');
  src: //url('/assets/fonts/fontName.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
}
