<template>
  <div>logging...</div>
</template>

<script>
import Vue from 'vue'

const Callback = {
  name: 'Callback',
  props: ['handleAuthentication'],
  mounted() {
    if (/access_token|id_token|error/.test(window.location.hash)) {
      this.handleAuthentication()
    }
  }
}

Vue.component('Callback', Callback)

export default Callback
</script>