<template>
  <div v-if='notEmpty' class='flash-message'>
    <sui-message class='icon' :color='color'>
      <sui-icon :name='icon'/>
      <sui-message-content>{{flashedMessage}}</sui-message-content>
    </sui-message>
  </div>
</template>

<script>
import Vue from 'vue'
import {mapState} from 'vuex'
import misc from '../misc/misc'

const FlashMessage = {
  name: 'FlashMessage',
  computed: mapState({
    flashedMessage: 'flashedMessage',
    messageType: 'messageType',
    color() {
      return this.getMessageType().color
    },
    icon() {
      return this.getMessageType().icon
    },
    flashedMessage(state) {
      return state.flashedMessage
    },
    notEmpty(state) {
      return !misc.empty(state.flashedMessage)
    }
  }),
  methods: {
    getMessageType() {
      return misc.empty(this.messageType) ? misc.messageType.INFO : this.messageType
    }
  }
}

Vue.component('FlashMessage', FlashMessage)

export default FlashMessage
</script>