<template>
  <sui-loader v-bind:active='isCalling' inline/>
</template>

<script>
import Vue from 'vue'
import {mapState} from 'vuex'

const LoaderConnected = {
  computed: mapState({
    activeCalls: 'activeCalls',
    isCalling(state) {
      return state.activeCalls.length > 0
    }
  }),
  methods: {}
}

Vue.component('LoaderConnected', LoaderConnected)

export default LoaderConnected
</script>