<template>
  <div class='login'>
    <form v-on:submit='handleSubmit'>
      <h1>Samples</h1>
      <h2>Manager</h2>
      <br/>
      <sui-button :loading='isCalling' :disabled='isCalling' primary type='submit'>Login</sui-button>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import {mapState} from 'vuex'

const Login = {
  name: 'Login',
  props: ['handleAuthentication'], // 'auth',
  computed: mapState({
    activeCalls: 'activeCalls',
    isCalling(state) {
      return state.activeCalls.length > 0
    }
  }),
  methods: {
    handleSubmit(e) {
      e.preventDefault()

      // this.auth.authorize()
      this.handleAuthentication()
    }
  }
}

Vue.component('Login', Login)

export default Login
</script>
