<template>
  <div>logging out...</div>
</template>

<script>
import {commit} from '../misc/store'
import {actions} from '../actions/actions'

export default {
  name: 'Logout',
  mounted() {
    localStorage.clear()
    this.commit(actions.updateAccessToken(''))
  }
}
</script>
