<template>
  <sui-table-row>
    <sui-table-cell>
      <!-- <sui-dropdown placeholder='Sample' selection :options='samples' :error='errorSample' v-model='sample'/> -->
      <select class='ui dropdown' :class='{error: errorSample}' placeholder='Sample' v-model='sample'>
        <option v-for='option in samples' :value='option.id' :key='"samples-" + option.id'>{{option.text}}</option>
      </select>
    </sui-table-cell>
    <sui-table-cell>

    </sui-table-cell>
    <sui-table-cell textAlign='right'>
      <sui-input placeholder='Quantity' class='mini' type='number' :error='errorQuantity' v-model='quantity'/>
    </sui-table-cell>
    <sui-table-cell>
      <datepicker :class='{error: errorDate}' placeholder='Shipping date' format='yyyy-MM-dd' :disabled-dates='disabledDates' v-model='date'/>
    </sui-table-cell>
    <sui-table-cell>
      <sui-input disabled placeholder='Status' type='text' :error='errorStatus' v-model='status'/>
    </sui-table-cell>
    <sui-table-cell>
      <sui-button size='tiny' primary icon='paper plane' @click='save'/>
    </sui-table-cell>
  </sui-table-row>
</template>

<script>
import Vue from 'vue'
import {mapState, mapActions} from 'vuex'
import {interval} from 'rxjs'
import Datepicker from 'vuejs-datepicker';
import {commit} from '../misc/store'
import {actions} from '../actions/actions'
import _ from 'lodash'
import misc from '../misc/misc'

const OrdersEditableRow = {
  name: 'OrdersEditableRow',
  components: {
    Datepicker
  },
  data() {
    return {
      disabledDates: {},
      sample: null,
      quantity: 0,
      status: 'in produzione',
      date: new Date()
    }
  },
  computed: mapState({
    orders: 'orders',
    warehouse: 'warehouse',
    samples: function(state) {
      return state.warehouse.map(w => ({key: 'samples-' + w.warehouseElementId, id: w.warehouseElementId, text: w.name}))
    },
    errorSample: function() {
      return misc.empty(this.sample)
    },
    errorQuantity: function() {
      return misc.empty(this.quantity)
    },
    errorStatus: function() {
      return misc.empty(this.status)
    },
    errorDate: function() {
      return false
    }
  }),
  mounted() {
    const yesterday = new Date()
    yesterday.setDate(yesterday.getDate() - 1)

    const afterAday = new Date()
    afterAday.setDate(afterAday.getDate() + 1)

    this.disabledDates.to = yesterday
    this.date = afterAday

    this.commit(actions.callWarehouse())
  },
  methods: {
    ...mapActions(commit),
    save: function(e) {
      if (this.errorSample || this.errorQuantity || this.errorDate) {
        this.commit(actions.flashMessageAndReset('Missing parameters', misc.messageType.ERROR))

        return
      }

      let sample = _.find(this.warehouse, {warehouseElementId: this.sample})
      
      let orderItems = [
        {
          productId: this.sample,
          sku: sample.sku,
          quantity: this.quantity,
          deliverableDate: misc.formatDate(this.date).split('T')[0],
          destinations: [
            '3e50c754-6e4e-4926-8604-84007b1fae23'
          ]
        }
      ]

      //sample = {ordersElementId: misc.hash(), name: sample.name, quantity: this.quantity, date: misc.formatDate(this.date).split('T')[0], status: this.status}
      //this.orders.push(sample)
      //this.commit(actions.storeOrders(this.orders))

      this.commit(actions.createNewOrder(orderItems))
      
      // reset
      this.sample = null
      this.quantity = 0
    }
  }
}

Vue.component('OrdersEditableRow', OrdersEditableRow)

export default OrdersEditableRow
</script>
