<template>
  <div>
    <h1>Orders</h1>
    <sui-table celled>
      <sui-table-header>
        <sui-table-row>
          <sui-table-header-cell>Name</sui-table-header-cell>
          <sui-table-header-cell>Ordine</sui-table-header-cell>
          <sui-table-header-cell>Quantity</sui-table-header-cell>
          <sui-table-header-cell>Shipping date</sui-table-header-cell>
          <sui-table-header-cell>Status</sui-table-header-cell>
          <sui-table-header-cell/>
        </sui-table-row>
      </sui-table-header>
      <sui-table-body>
        <sui-table-row v-for='item in orders' :key='"orders-" + item.orderItemId'>
          <sui-table-cell>{{warehouse.find( w => w.warehouseElementId === item.productId).name}}</sui-table-cell>
          <sui-table-cell>{{item.orderId}}</sui-table-cell>
          <sui-table-cell textAlign='right'>{{item.quantity}}</sui-table-cell>
          <sui-table-cell>{{item.deliverableDate}}</sui-table-cell>
          <sui-table-cell>{{item.status}}</sui-table-cell>
          <sui-table-cell/>
        </sui-table-row>
        <OrdersEditableRow/>
      </sui-table-body>
    </sui-table>
  </div>
</template>

<script>
import Vue from 'vue'
import {mapState, mapActions} from 'vuex'
import {interval} from 'rxjs'
import {commit} from '../misc/store'
import {actions} from '../actions/actions'
import OrdersEditableRow from './OrdersEditableRow'
import misc from '../misc/misc'

const Orders = {
  name: 'Orders',
  computed: mapState({
    orders: 'orders',
    warehouse: 'warehouse'
  }),
  mounted() {
    this.commit(actions.callOrders())
    this.commit(actions.callWarehouse())
  },
  methods: {
    ...mapActions(commit)
  }
}

Vue.component('Orders', Orders)

export default Orders
</script>
