<template>
  <sui-sidebar class='menu' :visible='visible'>
    <a><sui-menu-item v-on:click='gotourl("/warehouse")'>Warehouse</sui-menu-item></a>
    <a><sui-menu-item v-on:click='gotourl("/orders")'>Orders</sui-menu-item></a>
  </sui-sidebar>
</template>

<script>
import Vue from 'vue'
import router from '../misc/router'

const Sidebar = {
  name: 'Topbar',
  props: ['visible'],
  methods: {
    gotourl(path) {
      router.push(path)
      this.$root.$emit('sidebarToggled')
    }
  }
}

Vue.component('Sidebar', Sidebar)

export default Sidebar
</script>
