<template>
  <div>
    <h1>Supports Warehouse</h1>
  </div>
</template>

<script>
import Vue from 'vue'

const SupportsWarehouse = {
  name: 'SupportsWarehouse'
}

Vue.component('SupportsWarehouse', SupportsWarehouse)

export default SupportsWarehouse
</script>