<template>
  <sui-menu secondary class='topbar'>
    <sui-menu-menu position='left'>
      <sui-menu-item v-on:click='toggleSidebar' v-if='logged'>
        <a><sui-icon name='bars' size='large'/></a>
      </sui-menu-item>
      <!--sui-menu-item>
        <router-link to='/'><sui-image size='small' src='/assets/images/logo.png'/></router-link>
      </sui-menu-item-->
      <sui-menu-item>
        <LoaderConnected/>
      </sui-menu-item>
    </sui-menu-menu>
    <sui-menu-menu position='right' v-if='logged'>
      <sui-menu-item name='Info Utente' class='logged-menu'>
        <sui-dropdown icon floating>
          <sui-icon name='user circle' size='big'/>
          <sui-dropdown-menu>
            <sui-dropdown-header style='textTransform: "capitalize"' :content='welcome'/>
            <sui-dropdown-divider/>
            <sui-dropdown-item v-on:click='handleLogoutClick'>Logout</sui-dropdown-item>
          </sui-dropdown-menu>
        </sui-dropdown>
      </sui-menu-item>
    </sui-menu-menu>
  </sui-menu>
</template>

<script>
import Vue from 'vue'
import {mapState} from 'vuex'
import LoaderConnected from './LoaderConnected'
import _ from 'lodash'
// import auth from '../misc/auth'
import config from '../misc/config'
import misc from '../misc/misc'

const Topbar = {
  name: 'Topbar',
  props: ['updateAccessToken'],
  computed: mapState({
    activeCalls: 'accessToken',
    logged(state) {
      return !misc.empty(state.accessToken)
    },
    welcome() {
      return `Welcome!`
    }
  }),
  methods: {
    toggleSidebar(e) {
      this.$root.$emit('sidebarToggled')
    },
    // constructor(props, context) {
    //   super(props, context)

    //   // const links = [
    //   //   {key: 'r', text: 'Rubrica', value: 'Rubrica'},
    //   //   {key: 'f', text: 'Software HP', value: 'SoftwareHp'}
    //   // ]

    //   this.state = {
    //     // links,
    //     searchedQuery: null,
    //     searchedCategory: 'ordine-lav'
    //   }
    // },

    handleLogoutClick(e) {
      e.preventDefault()

      if (!config.PROD) {
        localStorage.clear()
        this.updateAccessToken('')

        return
      }

      // auth.logout({federated: true})
    }
  }
}

Vue.component('Topbar', Topbar)

export default Topbar
</script>
