<template>
  <sui-table-cell textAlign='right'>
    <sui-input class='mini' type='number' :disabled='!editable' :error='error' v-model='value'/>
    <sui-button size='tiny' icon='edit' v-show='!editable' @click='edit'/>
    <sui-button size='tiny' icon='save' v-show='editable' @click='save'/>
  </sui-table-cell>
</template>

<script>
import Vue from 'vue'
import {mapState, mapActions} from 'vuex'
import {interval} from 'rxjs'
import {commit} from '../misc/store'
import {actions} from '../actions/actions'
import _ from 'lodash'
import misc from '../misc/misc'

const WarehouseEditableCell = {
  name: 'WarehouseEditableCell',
  props: ['id', 'items', 'field'],
  data() {
    return {
      item: _.find(this.items, {warehouseElementId: this.id}),
      value: null,
      editable: false
    }
  },
  computed: {
    error: function() {
      return this.field === 'quantity' ? this.value < this.item.threshold : false
    }
  },
  mounted() {
    this.value = this.item[this.field]
  },
  methods: {
    ...mapActions(commit),
    edit: function() {
      this.editable = true
    },
    save: function(e) {
      this.editable = false
      this.item[this.field] = this.value
      // this.items.splice(_.findIndex(this.items, {warehouseElementId: this.id}), 1, this.item)
      this.commit(actions.modWarehouseElement(this.item))
    }
  }
}

Vue.component('WarehouseEditableCell', WarehouseEditableCell)

export default WarehouseEditableCell
</script>
