<template>
  <div>
    <h1>Warehouse</h1>
    <sui-table celled>
      <sui-table-header>
        <sui-table-row>
          <sui-table-header-cell>Name</sui-table-header-cell>
          <sui-table-header-cell>Family</sui-table-header-cell>
          <sui-table-header-cell>Quantity</sui-table-header-cell>
          <sui-table-header-cell>Threshold</sui-table-header-cell>
        </sui-table-row>
      </sui-table-header>

      <sui-table-body>
        <sui-table-row v-for='item in warehouse' :key='"warehouse-" + item.warehouseElementId'>
          <sui-table-cell>{{item.name}}</sui-table-cell>
          <sui-table-cell>{{item.family}}</sui-table-cell>
          <WarehouseEditableCell :id='item.warehouseElementId' :items='warehouse' :field='"quantity"'/>
          <WarehouseEditableCell :id='item.warehouseElementId' :items='warehouse' :field='"threshold"'/>
        </sui-table-row>
      </sui-table-body>
    </sui-table>
  </div>
</template>

<script>
import Vue from 'vue'
import {mapState, mapActions} from 'vuex'
import {interval} from 'rxjs'
import {commit} from '../misc/store'
import {actions} from '../actions/actions'
import WarehouseEditableCell from './WarehouseEditableCell'
import misc from '../misc/misc'

const Warehouse = {
  name: 'Warehouse',
  computed: {
    ...mapState(['warehouse']),
  },
  mounted() {
    this.commit(actions.callWarehouse())
  },
  methods: {
    ...mapActions(commit)
  }
}

Vue.component('Warehouse', Warehouse)

export default Warehouse
</script>
