<template>
  <div class='workplace' :accessToken='accessToken'>
    <Topbar :updateAccessToken='scopedUpdateAccessToken'/>
    <FlashMessage/>
    <div class='body'>
      <Sidebar :visible='sidebarVisible'/>
      <sui-dimmer :active='sidebarVisible' v-on:click='sidebarVisible = false'/>
      <!-- <a v-on:click='flashMessageAndReset({flashedMessage: "adasd", messageType: "SUCCESS"})'>asdasd</a> -->
      <router-view class='pusher' :auth='auth' :handleAuthentication='handleAuthentication'/>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import {mapState, mapActions} from 'vuex'
import {interval} from 'rxjs'
import {from, map} from 'rxjs/operators'
import Topbar from './Topbar'
import FlashMessage from './FlashMessage'
import Sidebar from './Sidebar'
import _ from 'lodash'
import {commit} from '../misc/store'
import {actions} from '../actions/actions'
import auth from '../misc/auth'
import config from '../misc/config'
import misc from '../misc/misc'

const Workplace = {
  name: 'Workplace',
  data() {
    return {
      sidebarVisible: false,
      auth
    }
  },
  computed: {
    ...mapState(['accessToken', 'callResponse']),
  },
  mounted() {
    this.sidebarVisible = false;

    this.$root.$on('sidebarToggled', () => {
      this.sidebarVisible = !this.sidebarVisible
    })

    this.scopedUpdateAccessToken()
    this.checkToken()
    this.commit(actions.callInit())

    // this.commit(actions.flashMessageAndReset('test', misc.messageType.ERROR))
  },
  updated() {
    this.checkToken()
  },
  methods: {
    ...mapActions(commit),
    checkToken() {
      // if (misc.empty(this.accessToken)) {
      //   return this.exit()
      // }

      // if (!misc.empty(this.accessToken) && new Date().getTime() > JSON.parse(localStorage.getItem('expiresAt'))) {
      //   return this.exit()
      // }

      if (misc.empty(misc.ca())) {
        return this.exit()
      }

      if (!misc.empty(this.accessToken) && new Date().getTime() > JSON.parse(localStorage.getItem('expiresAt'))) {
        return this.exit()
      }

      return this.enter()
    },

    exit() {
      localStorage.clear()
      this.commit(actions.updateAccessToken(''))

      if (window.location.pathname !== '/login') {
        this.$router.push('/login')
      }
    },

    enter() {
      if (window.location.pathname === '/login') {
        this.$router.push('/')
      }
    },

    scopedUpdateAccessToken(accessToken) {
      let at = ''

      if (!misc.undef(accessToken)) {
        at = accessToken
      } else if (localStorage.getItem('accessToken')) {
        at = localStorage.getItem('accessToken')
      }

      this.commit(actions.updateAccessToken(at))
    },

    handleAuthentication() {
      // auth.parseHash((err, authResult) => {
      //   if (authResult && authResult.accessToken && authResult.idToken) {
      localStorage.setItem('accessToken', 'accessToken') // authResult.accessToken
      localStorage.setItem('idToken', 'idToken') // authResult.idToken
      localStorage.setItem('expiresAt', JSON.stringify(((new Date().getTime()) * 1000) + new Date().getTime())) // authResult.expiresIn
      this.scopedUpdateAccessToken('accessToken') // authResult.accessToken
      //   } else if (err) {
      //     this.scopedUpdateAccessToken('')
      //   }
      // })
    },

    manageResponse() {
      if (misc.empty(this.callResponse)) {
        return
      }

      const r = this.callResponse.response

      if (!misc.empty(r)) {
        const rc = typeof r.code === 'number' ? `${r.code}: ` : ''
        const rm = misc.undef(r.message) ? '' : r.message
        let message = ''

        if (typeof rm === 'string') {
          message = rm
        } else if (typeof rm === 'object') {
          message = JSON.stringify(rm).replace(/[\{\}\(\)\[\]\"]/g, '')
        }

        this.flashMessageAndReset(`${rc} ${message}`, misc.messageTypeByCode(r.code))

        // if (config.PROD && message.match(/(invalid token|expired token)/i)) {
        //   auth.logout({federated: true})
        // }
      }
    }
  }
}

Vue.component('Workplace', Workplace)

export default Workplace
</script>
