<template>
  <Workplace/>
</template>

<script>
import Vue from 'vue'

import Workplace from './components/Workplace'

const App = {
  name: 'app'
}

Vue.component('App', App)

export default App
</script>
